@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

@layer base {
    body {
        @apply font-[Raleway];
    }
    li {
        @apply px-4;
        @apply cursor-pointer
    }
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}

.content-div:hover {
   scale: 150%;
}

li:hover{
    cursor: pointer;
    scale: 150%;
    color: white;

}

.button {
    display: inline-flex;
    height: 40px;
    width: 150px;
    border: 2px solid black;
    margin: 20px 20px 20px 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  #project-btn {
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  
  #project-btn a {
    position: relative;
    left: 0;
    transition: all .35s ease-Out;
  }
  
  #dub-arrow {
    width: 100%;
    height: 100%;
    background: rgb(37, 6, 6);
    left: -200px;
    position: absolute;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .35s ease-Out;
    bottom: 0;
  }
  
  #project-btn img {
    width: 20px;
    height: auto;
  }
  
  #project-btn:hover #dub-arrow {
    left: 0;
  }
  
  #project-btn:hover a {
    left: 150px;
  }
  
